* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}
.logo {
	color: #14b8a6;
	font-weight: 500;
}
body {
	color: #0f172a;
	font-size: 13px;
	margin: 0;
	background-color: #ffffff;
	padding: 0;
}
.text-teal {
	color: #14b8a6;
}
input,
textarea,
select,
button {
	color: #333;
	font-size: 13px;
}


img {
	max-width: 100%;
}

ul {
	padding-left: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: rgb(73, 73, 73);
}
a:hover {
	text-decoration: underline;
}
:focus {
	outline: none;
}



.inner {
	width: 60%;
	margin: auto;
}
.inner h3 {
	text-transform: uppercase;
	font-size: 1.2rem;
	text-align: center;
	color: #14b8a6;
}

form {
	margin: 0 auto;
	background-color: white;
	padding: 30px;
}

.form-group {
	display: flex;
}
.form-group .form-wrapper {
	width: 50%;
}
.form-group .form-wrapper:first-child {
	margin-right: 20px;
}

.form-wrapper {
	margin-bottom: 17px;
}
.form-wrapper label {
	margin-bottom: 9px;
	display: block;
}

.forms {
	border: 1px solid #ccc !important;
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 20px;
	border-radius: 20px;
	background: none;
}

.forms:focus {
	border: 1px solid #14b8a6 !important;
}
textarea {
	height: 200px !important;
	padding: 20px 10px !important;
}
select {
	cursor: pointer;
	padding-left: 20px;
}
select option[value=""][disabled] {
	display: none;
}
.form-button {
	background-color: #14b8a6;
	color: white;
	padding: 7px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none; /* Remove underline for button text */
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
	transition: background-color 0.2s, box-shadow 0.2s;
	margin-top: 20px;
	text-decoration: none !important;
}

/* Apply a hover effect when hovering over the button */
.form-button:hover {
	background-color: #0d9488;
}

/* Apply focus effect when the button is focused */
.form-button:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(69, 109, 116, 0.4);
	background-color: #0d9488;
}
.checkbox-container {
	display: inline-block;
	position: relative;
	margin-right: 10px; /* Adjust spacing between checkbox and label */
}

/* Hidden checkbox input */
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Custom checkbox */
.checkmark {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 16px; /* Adjust checkbox size */
	width: 16px; /* Adjust checkbox size */
	border-radius: 3px;
	background-color: #f5f5f5; /* Checkbox background color */
	border: 1px solid #ccc;
	color: #000;
	font-size: 14px; /* Adjust checkmark icon size */
	text-align: center;
	line-height: 1; /* Center checkmark icon vertically */
}

/* Checkmark icon */
.checkmark::after {
	content: "\f00c"; /* Font Awesome checkmark icon Unicode value */
	font-family: "Font Awesome 6 Free"; /* Use the appropriate font-family for the Font Awesome version you're using */
	display: none; /* Hidden by default */
}

/* Show the checkmark when the checkbox is checked */
.checkbox-container input:checked + .checkmark::after {
	display: block;
}

/* Label style */
.checkbox-label {
	cursor: pointer;
	font-size: 14px;
	color: #333;
}
@media (max-width: 991px) {
	.inner {
		width: 85%;
	}
}
@media (max-width: 650px) {
	.inner {
		width: 98%;
		background: none;
		padding-top: 0;
		padding-bottom: 0;
	}

	form {
		width: 100%;
		padding: 10px;
		padding-bottom: 0;
	}
}

.btn{
	text-decoration: none !important;
}